@keyframes pulse {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
@keyframes pulse1 {
    from {
        background-size: 120%;
    }
    50% {
        background-size: 110%;
    }
    to {
        background-size: 120%;
    }
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(Fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url(Fonts/Ubuntu-Regular.ttf);
}
body{
    background-color: #EAC7C7;
    background-image: url("Img/imgonline-com-ua-Replace-color-pWUimM9migkfM.jpg");
    animation: pulse1 25s ease-in-out infinite;
    background-position: center;
}
.window{
    margin: auto;
    margin-top: 80px;
    width: 70%;
    min-height: 400px;
    border-radius: 40px;
    background-color: #EAC7C7;
    padding: 30px;
    padding-bottom: 40px;
    transition: 0.4s;
    border: 5px double #f2a3a3;
}
.window header{
    width: 100%;
    height: 100px;
    display: flex;

}
.window header .input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A0C3D2;
    margin: auto;
    margin-top: 40px;
    margin-right: 60px;
    border-radius: 10px;
    width: 40%;
    transition: 0.4s;
    /*box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), -3px 3px 6px rgba(46, 53, 62, 0.2), 3px -3px 6px rgba(46, 53, 62, 0.2), -3px 3px 6px rgba(66, 75, 88, 0.9),3px 3px 8px rgba(46, 53, 62, 0.9);*/
}
.window header .input .add-task::placeholder{
    color: #F7F5EB;
    font-family: Ubuntu-Regular;
    padding-left: 10px;
    font-size: 12px;
}
.window header .input .add-task:focus{
    outline: 0;
    height: 55px;
    width: 90%;
}
.window header .input .add-task{
    width: 85%;
    height: 45px;
    border-radius: 10px;
    background-color: #A0C3D2;
    font-size: 15px;
    border: 0px;
    color: #F7F5EB;
    transition: 0.4s;
    font-family: Ubuntu-Medium;
    /*margin-left: 5px;*/
}
.window .completed{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #F7F5EB;
    min-height: 40px;
    width: 70%;
    border-radius: 15px;
    font-family: Ubuntu-Medium;
    font-size: 16px;
    margin-top: 40px;
    background-color: #A0C3D2;
}
.window .complete{
    text-decoration: 2px line-through;
    color: #F7F5EB;
}
.window .completed img{
    height: 15px;
    margin-left: 17px;
    border-radius: 10px;
}
.window .completed span{
    margin: 15px 0 15px 20px;
    width: 55%;
}
.window header .input button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 5px;
    width: 40px;
    background-color: #A0C3D2;
    border: 0px;
    transition: 0.4s;
    border-radius: 10px;
}
.window header .input:hover{
    box-shadow: 0px 0px 15px #A0C3D2;
}
.window header .input button:hover{
    background-color: #F7F5EB;
}
.window header .input button img{
    height: 15px;
}
.window main{
    width: 85%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.window .left{
    width: 50%;
}
.window footer{
    width: 85%;
    margin: auto;
    color: #94adcf;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.window footer p{
    font-size: 24px;
    font-family: Ubuntu-Regular;
}
.window .remuve{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    margin-left: 40px;
    border: 0px;
    transition: 0.3s;
    border-radius: 10px;
    background-color: #ff6c6c;
}
.window .remuve:hover{
    animation: pulse 1s ease-in-out infinite;
}
.window header .date-box{
    width: 30%;
    display: flex;
    justify-content: left;
}
.window header .date-box .date{
    height:40px;
    border: 0;
    width: 20%;
    text-align: center;
    outline: none;
    color: #F7F5EB;
    font-size: 14px;
    font-family: Ubuntu-Medium;
    margin: 40px 20px 0 0;
}
.window header .date-box .date:focus{
    height: 50px;
}
.window .date-p{
    color: #F7F5EB;
    font-size: 16px;
    font-family: Ubuntu-Medium;
}
.window .date::placeholder{
    color: #F7F5EB;
    font-family: Ubuntu-Regular;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
}
